<!DOCTYPE html>
html(lang="ja")
meta(charset="UTF-8")
meta(name="description" content="welcome to jonbebebe SPACE")
title 宇宙

body
  #Space
    img#earth(src="../images/white-earth.svg" width="90px" height="auto")
    - for (var i = 0; i < 100; i++)
      img.star(src="../images/star.svg")

    img.debris(src="../images/white-earth.svg" width="90px" height="auto")
    img.sun(src="../images/sun.svg" width="400px" height="auto")
    img.alien(src="../images/alien.svg" width="400px" height="auto")
  .brankForScroll
script(src="../script/index.js")